<p>
  <strong>Text:</strong>
  <%= @porker.text %>
</p>

<%= flash[:a] %>
<%= flash[:b] %>
<%= flash[:c] %>
<%= flash[:d] %>
<%= flash[:e] %>
<%= flash[:f] %>
<%= flash[:g] %>

<%= link_to 'New text', new_porker_path %>